# Bytecode and Cache
**/__pycache__/*
*.py[cod]

# Virtual Environments and System Files
venv/
.env
.env/

# IDE and Editor Configurations
.vscode/*

# Project-specific Files and Directories
outputs/
scripts/app/outputs/*
series_label_counts_test.pkl
series_to_slices_test.pkl

# Testing and Experimentation Scripts
scripts/testing/*

# Miscellaneous Project Files
scripts/PytorchUtils/
scripts/mediffusion/*
scripts/CT_BET_GPU/*

